{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<div class="mb-4">
{% if post.image is defined %}
    <img class="mb-4" src="/uploads/{{ post.image }}" alt="">
{% endif %}
<h1>{{post.title}}</h1>
<small>Category: {% if post.category is not empty %}
   {{ post.category}}
{% else %} No category {% endif %}</small>
</div>
<p class="mb-4">
{{post.body}}
</p>
<hr>
<a href="{{ path('post.index') }}">Back to posts</a>
{% endblock %}
